/* Llamado por etiqueta
h1 { propiedad: valor */

/* Llamado por clase
.clase { */

/* Llamado por ID
#id { */

/* *{
    margin: 0;
    padding: 0;
} */

nav ul li a{
    background-color: aquamarine;
    border: 1px solid blue;
    padding: 10px;
    font-size: 20 px;
    margin: 20 px;
    
}

nav ul a{
    background-color: aquamarine;
    border: 1px solid blue;
    padding: 10px;
    font-size: 20 px;
    margin: 20 px;
    
}

section article img {
    margin: 20px;

}

.section p{
    width: 30%;
    height: 30%;
    font-size: 18px;
    background-color: aqua;
    border: 2px solid tomato;
    overflow: hidden;
}

footer {
    border-style: dotted;
    width: 95%;
    border-width: 5px;
    border-radius: 5%;
    border-color: brown;
}

.borde {
    border-radius: 10px 100px / 120px;
}