/* GENERAL */

body {
  color: rgb(9, 6, 49);
  background-color: aliceblue;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 300%;
}

p,
li {
  font-size: 120%;
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  padding: 2%;
  max-width: 70%;
}

a {
  color: aliceblue;
}

h3 a {
  color: rgb(9, 6, 49);
}

a:hover {
  color: rgb(91, 72, 91);
}

header div {
  display: flex;
  justify-content: left;
  align-items: left;
  align-content: left;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* position: sticky; */
  /* top: 0; */
  background-color: rgb(234, 240, 246);
}

nav ul a {
  color: rgb(9, 6, 49);
  padding: 10px;
  font-size: 20 px;
  margin: 20 px;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  align-content: center;
}

div h2 a {
  color: aliceblue;
  background-color: rgb(9, 6, 49);
  padding: 10px;
  font-size: 20 px;
}

img {
  border-radius: 10px 100px / 120px;
}

/* INDEX */

.mainSectionArticle {
  padding: 2%;
  background-color: rgb(234, 240, 246);
  border-radius: 10px 100px / 120px;
}

.upaIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: left;
  align-items: left;
}

.indexCenter {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-content: center;
  margin: 1%;
}

.mainBlack__ {
  color: aliceblue;
  background-image: url(https://images5.alphacoders.com/542/542019.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1%;
}

.sectionMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 10px 100px / 120px;
  align-content: center;
}

/* BOTWSPP */

header nav ul li {
  display: inline-block;
}

.mainWspp {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
}

/* PLATAFORMA */

.plataformaCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1%;
}

.articleA {
  display: flex;
  flex-wrap: column;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  padding: 0.3%;
  width: 100%;
}

.articleB {
  display: flex;
  flex-wrap: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  /* margin: 2%; */
  padding: 0.3%;
  width: 100%;
  color: aliceblue;
  background-image: url(https://images5.alphacoders.com/542/542019.jpg);
}

.mainPlataforma {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.divPlataforma {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* PORQUE UPA? */

.articleC {
  display: flex;
  flex-wrap: column;
  align-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin: 2%;
  padding: 0.3%;
}

/* PRECIOS */

.mainPrecios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* FOOTER */

footer {
  display: flex column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: rgb(9, 6, 49);
  color: aliceblue;
}

.footerWsp {
  background-color: #25d366;
  color: #fff;
  padding: 10px;
  font-size: 20 px;
  margin: 20 px;
}
