/* Llamado por etiqueta
h1 { propiedad: valor */

/* Llamado por clase
.clase { */

/* Llamado por ID
#id { */

/* GENERALES */

/* INDEX */

.indexCenter {
  display: flex;
  flex-wrap: wrap column;
  /* justify-content: center; */
  /* align-content: center; */
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-content: center;
}

.sectionMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  align-content: center;
}

.mainsectionarticle {
  display: flex;
  flex-wrap: wrap column;
  justify-content: space-around;
}

section article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

nav ul li a {
  background-color: blueviolet;
  border: 1px solid blue;
  padding: 10px;
  font-size: 20 px;
  margin: 20 px;
}

/* Boot Whatsapp */

.mainWspp {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.section p {
  width: 30%;
  height: 30%;
  font-size: 18px;
  background-color: aqua;
  border: 2px solid tomato;
  overflow: hidden;
}

.borde {
  border-radius: 10px 100px / 120px;
}

header nav ul li {
  display: inline-block;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Porque Upa? */

.mainUpa__ {
  background-color: blueviolet;
}

/* Plataforma */

.articleA {
  display: flex;
  flex-wrap: wrap column;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.articleB {
  display: flex;
  flex-wrap: wrap column;
}

.mainPlataforma {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.divPlataforma {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Precios */

.mainPrecios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
